*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  cursor: url("/images/cursor2.png");
}
.galleryContainer-food {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    overflow-x: scroll;
    width: 100%;
  
    &::-webkit-scrollbar {
      display: none;
    }
      justify-content: flex-start;
      .header-images-food {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
      }
      
      .imageGrid-food {
        display: flex;
        gap: 10px; 
        padding-bottom: 10px; 
        max-width: 100%; 
        white-space: nowrap; 
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
        overflow-x: scroll;
        width: 100%;
      
        &::-webkit-scrollbar {
          display: none;
        }
      
        @media (max-width: 1000px) {
          justify-content: flex-start;
        }
      }
      
      .imageWrapper-food {
        flex: 0 0 auto; 
        scroll-snap-align: center; 
        width: 300px; 
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
      
  }
  
  