* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  cursor: url("/images/cursor2.png"), pointer;
}

.landing-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: auto;
  position: relative;
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .slider-content {
    display: flex;
    transition: transform 0.3s ease-in-out;
    animation: activing 0.5s linear;
  }

  .landing-slider {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s linear;
    animation: activing 0.5s linear;
  }

  .landing-slider.active {
    animation: activing 0.5s linear;
  }

  .image-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.indicators-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.default{
  transform: translateY(70px);
  opacity: 0;
  animation: effect 0.8s forwards;
}
@keyframes effect {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.prev-arrow,
.next-arrow {
  background: none;
  border: none;
  transition: 0.1s linear;
  font-size: 24px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #64D370;
  &:hover {
    background-color: #64D370;
    color: white;
  }
  &:active{
    transform: scale(0.9);
    background-color: #64D370;
    color: white;
  }
}

.indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #64D370;
}

.indicator.active {
  background-color: #64D370;
  transition: 0.5s linear;
  animation: activing 0.5s linear;
}

@keyframes activing {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.landing-buttons-section {
  display: flex;
  width: 100%;
  height: auto;
  gap: 40px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  button {
    width: 400px;
    color: #F5FAFF;
    font-size: 20px;
    height: 50px;
    background-color: #64D370;
    outline: none;
    border: none;
    transition: 0.1s ease-in-out;
    border-radius: 20px;
    &:active{
      transform: scale(0.9);
    }
  }
  button:nth-child(2){
    background-color: #F5FAFF;
    color: black;
  }
}